
:root {
  --color-gray: #757575;
  --color-dgray: #212121;
  --color-lgray: #ececec;
  --color-black: #000000;
  --color-blue: #2196f3;
  --color-white: #ffffff;
  --color-fon: #2f303a;
  --color-lfon: #f5f4fa;

}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
h2 {
  text-align: center;
}
.container {
  max-width: 1230px;
  margin: 0 auto;
}
a, button, .button-selector {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.button-selector:hover {
  background-color: var(--color-blue);
}
/* header */
header {
  height: 80px;
}
header>.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  flex-basis: 50%;
}
nav ul {
  display: flex;
  justify-content: flex-start;
  column-gap: 50px;
}
.nav-item {
  position: relative;
}
.nav a, nav a:visited {
  color: var(--color-black);
}
nav a:hover {
  color: var(--color-blue);
}
.nav-item::after {
    content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--color-blue);
  bottom: -20px;
  left: 0;
  
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out; 
}
.nav-item:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.current_page {
  position: relative;
}
.current_page::after {
  content: '';
  position: absolute;
  
  width: 100%;
  height: 2px;
  background-color: var(--color-blue);
  bottom: -20px;
  left: 0;
  animation: current 1000ms ease-out infinite;
}
@keyframes current {
  0% {
    animation-play-state: paused;
  }
  20% {
transform: scaleX(0);
  transform-origin: bottom left;
  }
  80% {
    transform: scaleX(100%);
  transform-origin: bottom left;
  }
  100% {
 animation-delay: 100ms;
  }
}


.contact-head > svg {
  height: 18px;
  width: 18px;
  fill: var(--color-gray);
}

.logo a, .logo a:visited {
  font-family: 'Raleway';
  font-size: 26px;
  color: var(--color-blue);
  text-decoration: none;

}
.logo span {
  color: var(--color-black);
}
footer .logo span {
  color: var(--color-white);
}
/* main */
.hero {
  height: 600px;
  background-color: var(--color-fon);
  color: var(--color-white);
  background: 
  linear-gradient(0deg, rgba(47, 48, 58, 0.4), 
  rgba(47, 48, 58, 0.4)), 
  url(../imgs/Img.png) center no-repeat;
  background-size:cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero p {
  max-width: 696px;
  margin: 0 auto ;
  padding: 0 40px;
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
  
}
.hero .btn-open, .submit {
  height: 50px;
  width: 216px;
  margin: 30px;
  color: var(--color-white);
  text-align: center;
  border-radius: 4px;
  background-color: var(--color-blue);
  position: relative;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .btn-open:hover, .submit:hover {
  box-shadow: 2px 2px 2px rgba(47, 48, 58, 0.4);
}

/* MODAL */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: all 1s ease-in-out;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 8px;
  background-color: var(--color-white);
  transform: translate(-50%, -50%);
  
}
.modal-title {
color: var(--color-black);
text-align: center;
}

.btn-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 auto;
  background-color: inherit;
  font-size: 18px;
  padding: 0;
  border: 1px solid var(--color-gray);
  color: var(--color-gray);
}
.mod-form {
  width: 448px;
  margin: 0 auto;
}
.mod-form label {
  display: block;
  color: #000000;
  text-align: left;
  margin-left: 15px;
  
}
.mod-form input, .mod-form input:focus {
border: none;
outline: none;
}

.mod-form-outline {
  width: 100%;
  height: 40px;
  outline: 1px solid var(--color-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  border-radius: 10px;
}
.input_icon {
width: 18px;
height: 18px;
background-color: var(--color-gray);
}
.mod-form-outline input {
  flex-grow: 1;
  text-align: left;
}

.mod-form-outline:focus-within {
outline: 1px solid var(--color-blue);
}
.mod-form-outline:focus-within>.input_icon{
background-color: var(--color-blue)
}
.mod-form>textarea {
  display: block;
  margin-left: 0;
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: 1px solid var(--color-gray);
}
.mod-form>textarea:focus {
  outline: 1px solid var(--color-blue);
}

.useragr {
  display: flex;
  gap: 0;
  text-align: left;
  padding-top: 10px;
}
.useragr>input {
margin: 0;
}
.useragr_text {
  text-transform: none !important;
  font-size: 14px !important;
  color: var(--color-dgray);
  padding: 0 !important;

}
.useragr_text p{
  margin: 0;
}
.useragr_text a, .useragr_text a:visited {
  transform: none;
  color: var(--color-blue);
}

.submit {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
/* end modal */
.about-us, .our-team,  .we_do_this{
  padding-top: 120px;
}
.about-us-item {
  flex: 0 0 270px;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about-us-item:hover {
  box-shadow: 3px 3px 2px rgba(47, 48, 58, 0.4);
}
.about-us-item::before {
content: '';
  display: block;
  width: 270px;
  height: 120px;
  background-color: var(--color-lfon);
  background-image: url(../imgs/antenna1.png);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;

}

.about-us-item:nth-child(2)::before {
  background-image: url(../imgs/clock1.png);
}
.about-us-item:nth-child(3)::before {
  background-image: url(../imgs/diagram1.png);
}
.about-us-item:nth-child(4)::before {
  background-image: url(../imgs/astronaut1.png);
}
.our-team {
  background-color: #f5f4fa;
  padding-bottom: 120px;
}

li {
  list-style-type: none;
}
.about-us p, .our-team p {
  font-weight: normal;
  color: var(--color-gray);
  line-height: 1.5;
}
.about-us ul, .we_do_this ul, .our-team ul, .portfolio-list{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
/* WE_DO_THIS */

.we_do_this-item {
  position: relative;
  padding: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.we_do_this-item:hover{
  box-shadow: 3px 3px 2px rgba(47, 48, 58, 0.4);
}
.we_do_this-item p {
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  background: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

/* TEAM */
.team-card {
flex: 0 0 270px;
box-shadow: 
0px 0px 2px 0px var(--color-gray),
0px 2px 2px 0px var(--color-gray);
text-align: center;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-card:hover {
  box-shadow: 
0px 0px 2px 0px var(--color-gray),
2px 2px 2px 2px var(--color-gray);
}
.our-team img {
  height: 260px;
  width: 270px;
  background-color: var(--color-lfon);
}
/* PORTFOLIO */
.portfolio-select {
  max-width: 575px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.button-selector {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item {
  height: 404px;
  flex-basis: calc((100%-40px)/3);
  box-shadow: 0px 0px 1px 1px  #eeeeee;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 0px 3px 1px  var(--color-gray);
}
.portfolio-item h3, .portfolio-item p {
  margin-left: 24px;
}
/* FOOTER */
footer .container {
  display: flex;
  justify-content: left;
  align-items: center;
}
footer {
  height: 252px;
  background-color: var(--color-fon);
  color: var(--color-gray);
  padding-top: 60px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
footer p:hover {
color: var(--color-white);
}

.social {
  display: flex;
   list-style-type: none;
  justify-content: center;
  /* align-items: center; */
height: 48px;
width: 306px;
margin: 0 auto;
padding: 0;
gap: 10px !important;
}
.socnet {
  height: 20px;
  width: 20px;
  padding: 0;
}
.social-item {
  height: 44px;
  width: 44px;
  padding: 0px;
  margin: 0px;
border-radius: 100%;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
fill: #757575;
transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
footer .social-item
{
  background-color: var(--color-gray);
  fill: var(--color-white);
}
.social-item:hover {
  background-color: #2196f3;
  fill: var(--color-white);
}
/* .socnet:hover {
  fill: var(--color-lgray);
} */
use {
  margin: 0;
  padding: 0;
}