
:root {
  --color-gray: #757575;
  --color-dgray: #212121;
  --color-lgray: #ececec;
  --color-black: #000000;
  --color-blue: #2196f3;
  --color-white: #ffffff;
  --color-fon: #2f303a;
  --color-lfon: #f5f4fa;

}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
h2 {
  text-align: center;
}
.container {
  max-width: 1230px;
  margin: 0 auto;
}
a, button, .button-selector {
  cursor: pointer;
}
.button-selector:hover {
  background-color: var(--color-blue);
}
/* header */
header {
  height: 80px;
}
header>.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  flex-basis: 50%;
}
nav ul {
  display: flex;
  justify-content: flex-start;
  column-gap: 50px;
}
.nav a, nav a:visited {
  color: var(--color-black);
  text-decoration: none;
}
nav a:hover, nav a:active {
  color: var(--color-blue);
}
.logo a, .logo a:visited {
  font-family: 'Raleway';
  font-size: 26px;
  color: var(--color-blue);
  text-decoration: none;

}
.logo span {
  color: var(--color-black);
}
footer .logo span {
  color: var(--color-white);
}
/* main */
.hero {
  height: 600px;
  background-color: var(--color-fon);
  color: var(--color-white);
  background: 
  linear-gradient(0deg, rgba(47, 48, 58, 0.4), 
  rgba(47, 48, 58, 0.4)), 
  url(../imgs/Img.png) center no-repeat;
  background-size:cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero p {
  max-width: 696px;
  margin: 0 auto ;
  padding: 0 40px;
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
  
}
.hero button {
  height: 50px;
  width: 216px;
  margin: 30px;
  color: var(--color-white);
  text-align: center;
  border-radius: 4px;
  background-color: var(--color-blue);
}
.about-us, .our-team,  .we-do-this{
  padding-top: 120px;
}
.about-us-item {
  flex: 0 0 270px;
}
.about-us-item::before {
content: '';
  display: block;
  width: 270px;
  height: 120px;
  background-color: var(--color-lfon);
  background-image: url(../imgs/antenna1.png);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;

}

.about-us-item:nth-child(2)::before {
  background-image: url(../imgs/clock1.png);
}
.about-us-item:nth-child(3)::before {
  background-image: url(../imgs/diagram1.png);
}
.about-us-item:nth-child(4)::before {
  background-image: url(../imgs/astronaut1.png);
}
.our-team {
  background-color: #f5f4fa;
  padding-bottom: 120px;
}

.team-card {
flex: 0 0 270px;
box-shadow: 
0px 0px 2px 0px var(--color-gray),
0px 2px 2px 0px var(--color-gray);
text-align: center;
}
.our-team img {
  height: 260px;
  width: 270px;
  background-color: var(--color-lfon);
}
li {
  list-style-type: none;
}
.about-us p, .our-team p {
  font-weight: normal;
  color: var(--color-gray);
  line-height: 1.5;
}
.about-us ul, .we-do-this ul, .our-team ul, .portfolio-list{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

/* PORTFOLIO */
.portfolio-select {
  max-width: 575px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.portfolio-item {
  height: 404px;
  flex-basis: calc((100%-40px)/3);
  box-shadow: 0px 0px 1px 1px  #eeeeee;
}
.portfolio-item:hover {
  box-shadow: 0px 0px 3px 1px  var(--color-gray);
}
.portfolio-item h3, .portfolio-item p {
  margin-left: 24px;
}
/* FOOTER */
footer {
  height: 252px;
  background-color: var(--color-fon);
  color: var(--color-gray);
  padding-top: 60px;
}
footer p:hover {
color: var(--color-white);
}

